name: "Dependabot Auto Merge"

on:
  pull_request:

permissions:
  contents: write

jobs:
  worker:
    runs-on: ubuntu-latest

    if: github.actor == 'dependabot[bot]'
    steps:
      - name: 'Wait for status checks'
        id: waitforstatuschecks
        uses: WyriHaximus/github-action-wait-for-status@v1
        with:
          ignoreActions: worker,WIP
          checkInterval: 300
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Auto Merge'
        uses: pascalgn/automerge-action@v0.16.3
        if: steps.waitforstatuschecks.outputs.status == 'success'
        env:
          MERGE_LABELS: "update"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_DELETE_BRANCH: true
